<section class="my-5 py-5">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-md">
        <h1 class="">
            {{ .Params.heroTitle }}
         </h1>
        <p class="lead">
          {{ .Params.heroSub }}
        </p>
        <a class="btn btn-primary btn-lg my-2" href="{{ .Site.LanguagePrefix }}/get-in-touch/" role="button">{{ .Site.Params.navButton }}</a>
      </div>
      <div class="col-md text-center">
        {{ $img := (resources.Get "images/example.jpg").Fill "500x500" }}
        <img class="img-fluid pace-feature" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
      </div>
    </div>

  </div>
</section>
