<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <div>{{ .Site.Params.brand }}</div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
      <ul class="navbar-nav ml-auto p-2">

        <li class="nav-item pr-5">
          <a class="nav-link {{ if eq .Section "why" }} active {{ end }}" href="/why/">{{ .Site.Params.navOne }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{ if eq .Section "how "}} active {{ end }}" href="/how/">{{ .Site.Params.navTwo }}</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
